@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffa06b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff782d;
}
